@font-face {
  font-family: 'iconfont';  /* Project id 2464575 */
  src: url('//at.alicdn.com/t/font_2464575_3qj5i1y1xmi.woff2?t=1619928599255') format('woff2'),
       url('//at.alicdn.com/t/font_2464575_3qj5i1y1xmi.woff?t=1619928599255') format('woff'),
       url('//at.alicdn.com/t/font_2464575_3qj5i1y1xmi.ttf?t=1619928599255') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: .16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}